@charset "utf-8";
.houkoku {
    font-size: 250%;
    margin-top: 60px;
    display: block;
    font-family: serif;
}
.goi {
    font-size: 300%;
    color: red;
}
.inoti {
    font-size: 250%;
    font-family: serif;
}
.inotigoi {
    font-family: serif;
    font-size: 250%;
    text-decoration: none;
    color: black;
}
.goi {
    color: red;
    text-decoration: none;
}
.command {
    font-family: serif;
    font-size: 1%;
    display: block;
    margin-top: 360px;
    margin-left: 1150px;
    text-decoration: none;
    color: black;
}