@charset "utf-8";
body {
    background-color: white;
}
.bujoku {
    font-size: 230%;
    color: black;
    font-family: serif;
}
.sagi {
    font-size: 230%;
    color: black;
    text-decoration: none;
    font-family: serif;
}