@charset "utf-8";
.syousann {
    font-size: 250%;
    font-family: serif;
    color: black;
}
.google {
    color: black;
    font-family: serif;
    font-size: 250%;
    text-decoration: none;
}
.zokkou {
    color: red;
    font-size: 250%;
    font-family: serif;
    text-decoration: none;
}